name: Ci branch

on:
  push:
    branches:
      - 'develop'
  pull_request:
    branches:
      - 'develop'

env:
  BASE: ${{ github.ref == 'refs/heads/develop' && 'origin/develop~1' || 'origin/develop' }}
  SKYNET_API_KEY: ${{ secrets.SKYNET_API_KEY }}
  DAOHAUS_SUMMON_SKYNET_SEED: ${{ secrets.DAOHAUS_SUMMON_SKYNET_DEVELOP_SEED }}
  DAOHAUS_HUB_SKYNET_SEED: ${{ secrets.DAOHAUS_HUB_SKYNET_DEVELOP_SEED }}

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Setup
        uses: ./.github/actions/develop_setup
      - name: Lint mono
        run: nx affected:lint --base $BASE
      - name: Test mono
        run: NODE_OPTIONS=--experimental-vm-modules nx affected:test --base $BASE
      - name: Build mono
        run: nx affected:build --base $BASE
      - name: Deploy mono
        if: ${{ github.ref == 'refs/heads/develop' }}
        run: |
          nx affected --target deployStaging --base $BASE
