name: Ci branch

on:
  pull_request:
    branches:
      - 'master'
  push:
    branches:
      - 'master'

env:
  BASE: ${{ github.ref == 'refs/heads/master' && 'origin/master~1' || 'origin/master' }}
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v2
        with:
          node-version: 16.x
      - name: Create env file
        run: |
          touch .env
          echo NX_RIVET_KEY=${{ secrets.RIVET_KEY }}  >> .env
      - run: yarn install
      - run: npm install -g nx
      - name: Lint mono
        run: nx affected:lint --base $BASE
      - name: Test mono
        run: NODE_OPTIONS=--experimental-vm-modules nx affected:test --base $BASE
      - name: Build mono
        run: nx affected:build --base $BASE
      - name: Deploy mono
        if: ${{ github.ref == 'refs/heads/master' }}
        run: |
          echo '//registry.npmjs.org/:_authToken=${{secrets.OTP}}' > .npmrc
          nx affected --target deploy --base $BASE --otp ${{ secrets.OTP }}
